<%= form_with model: quote, html: { class: "flex flex-wrap gap-1 bg-white shadow-md" \
  " rounded px-8 pt-6 pb-8 mb-4" } do |form| %>
  <% if quote.errors.any? %>
    <div class="w-full p-1 text-rose-950 rounded bg-slate-300">
      <%= quote.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div class="flex-1">
    <%= form.label :name, class: "sr-only" %>
    <%= form.text_field :name, class: "block invalid:border-red-500 shadow appearance-none border rounded w-full" \
      " py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <%= form.submit class: "inline-flex items-center rounded-md bg-indigo-600 px-3 hover:cursor-pointer" \
    " py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline" \
    " focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"  %>
<% end %>
